<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>NBA Player Stats</title>
</head>

<body>
    <div class="container">
        <h1>NBA Stats - MVP Scores</h1>
        <form action="{{ url_for('result') }}" method="get">
            <label for="year">Enter Year (Post 1990):</label>
            <input type="text" id="year" name="year" required>
        
            <label for="lwr_points">Enter Point's Lower Bound (15.0 if not entered):</label>
            <input type="text" id="lwr_points" name="lwr_points">
        
            <label for="lwr_efg">Enter eFG's Lower Bound (40% if not entered):</label>
            <input type="text" id="lwr_efg" name="lwr_efg">
        
            <label for="lwr_gs">Enter Games Played Lower Bound (50 if not entered):</label>
            <input type="text" id="lwr_gs" name="lwr_gs">
        
            <button type="submit">Submit</button>
        </form>        
    </div>

    <div id="loading-screen" style="display: none;">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>

    <script src="script.js"></script>
</body>
</html>
